# Python temporary files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.venv

# Buildozer & Android specific
.buildozer/
bin/
*.keystore
!*.spec

# Local IDE settings
.idea/
.vscode/
.DS_Store

# Finora specific cache
app/cache/
*.log